html,
body {
    height: 100%;
    overflow: hidden;
}

video {
    width: 100vw;
    position: absolute;
}

#logo {
    position: absolute;
    width: 30%;
    height: auto;
    top: 15px;
    left: 15px;

    filter:opacity(80%);
    z-index: 4;
}

button {
    position: absolute;
    top: 380px;
    left: 125px;

    border-radius: 8px;
    border: 3px solid whitesmoke;
    color: whitesmoke;
    background-color: transparent;
    outline: none;

    text-transform: lowercase;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    background-color: whitesmoke;
    border: 3px solid black;
    color: black;
}